.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}


btn-primary:active :focus{
  text-decoration: none;
  color: #fff;

  color: #ffffff !important;
  background-color: #161617 !important;
  border-color: #494F57 !important;
}
